{% extends 'base.html' %}{% load static %}
    <!-- Etykieta strony -->
{% block site_title %}

{% endblock %}
    <!-- Zawartość strony -->
{% block content %}
    <form class="form-horizontal" id="loginForm" role="form" method="POST" action="{% url 'login' %}">
        <div class="row">
            <div class="col-md-6">
                <h2>Zaloguj się</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- Wyświetlenie formularza -->
                {% csrf_token %}
                {{ form.as_p }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-dark" form="loginForm">Zaloguj się</button>
            </div>
        </div>
    </form>
{% endblock %}